# CLion
.idea/
cmake-build-debug/
CMakeLists.txt

# CLion template files
library.c
library.h

# Compiled binaries
*.exe
*.out
*.bin
code/main
code/tester
code/run

# Temp test output
code/actual_output.txt
code/mismatches.txt
stimuli/*/actual.txt

#claude
.claude/